/*SideNav*/
nav {
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-color: var(--colour-1);
}
#new-folder {
    margin: 4% 0 10% 3%;
    width: 100%;
}
#new-folder *, #new-folder input[type=text]::placeholder {
    font-size: var(--small-text);
    color: var(--colour-light);
    display: inline-block;
    background: transparent;
    border: none;
}
#new-folder input[type=text] {
    border-bottom: 2px solid var(--colour-dark);
}
#new-folder input[type=submit] {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--colour-dark);
}
#new-folder button i {
    cursor: pointer;
    font-size: 25px;
    transition: color 0.25s linear;
}
#new-folder button i:hover {
    color: #fff;
}
.folder {
    margin: 5%;
}
.folder i, .folder h3 {
    display: inline-block;
    cursor: pointer;
    font-size: var(--mid-text);
    color: var(--colour-dark);
    text-shadow: 0.5px 0.5px var(--colour-light);
}
.folder-dropdown {
    transition: opacity 0.5s ease;
}
.folder:hover .folder-dropdown, .folder-dropdown:hover {
    height: auto;
    opacity: 1;
}


#main {
    width: 80%;
    float: right;
}

#account-settings {
    text-align: right;
    position: fixed;
    top: 2%;
    right: 2%;
}
#account-tab {
    font-size: 50px;
}
#account-tab:hover + #account-dropdown, #account-dropdown:hover {
    display: block;
}
#account-dropdown {
    width: 150px;
    font-size: var(--small-text);
    padding: 15%;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px;
}
#account-dropdown a {
}

.word {
    width: 75%;
    min-height: 250px;
    padding: 2%;
    margin: 3%;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px;
}
.date {
    color: #737373;
}
.term, .pick-folder, .pick-folder * {
    display: inline-block;
}
.pick-folder {
    font-size: var(--mid-text);
    width: 25%;
    float: right;
}
.term {
    width: 70%;
    margin: 2% 0;   
}
.term * {
    font-size: var(--large-text);
    display: inline-block;
}
.speak {
    font-size: var(--large-text);
    padding-left: 3%;
}
.speak:hover {
    
}
.word h1 {
    
}
.def {
    margin-bottom: 3%;
}
.ex {
    margin-top: 1%;
    font-style: italic;
}
.lang1 * {
    color: #cc0000;
}