* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    --large-text: 35px; 
    --mid-text: 25px;
    --small-text: 20px;
    --colour-1: #6699ff;
    --colour-light: #e6eeff;
    --colour-dark: #002b80;
}

a {
    color: #666;
    text-decoration: none;
}
.strong {
    font-weight: bold;
}
.dropdown {
    display: none;ivyb
}